<article class="menu-item-v1">      
   <div class="grid-inner col-inner">
      <div class="views-field views-field-field-menu-image image text-center">  
         <div class="field-content">{{ fields.field_menu_image.content }}</div> 
      </div>  
      <div class="view-item-body">
         <div class="menu-heading">
            <div class="title">{{ fields.title.content }}</div>  
            <div class="price">{{ fields.field_menu_price.content }}</div>
         </div>   
         <div class="views-field views-field-body">{{ fields.body.content }}</div>
      </div>
   </div>
</article>